*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #f0f5bc;
    font-family:'Roboto', sans-serif;
}

#container{
    background-color: rgba(196, 187, 61, 0.452) ;
    width: 70%;
    margin: 0px auto;
}

/*Parte superior de la pagina*/
header{
    color: black;
    text-align: center;
    font-size: 30PX;
    width: 100%;
    height: 200px;
    margin: 0px;
    line-height: 200px;
}

/*Navegacion de la pagina*/
.menu {
    background-color: black;
    height: 68px;
}

/*Lista de navegacion por las paginas*/
nav ul li{
    float: left;
    list-style: none;
    float: right;
}

nav ul li a{
    color: antiquewhite;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover{
    background-color: coral;
}

section{
    min-height: 500px;
    float: left;
    width: 80%;
}

section article{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 30px;
    position: relative;
}

section article a{
    font-size: 30PX;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 3px;
}

#subir{
    border-radius: 30%;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    position:absolute;
    left: 94%;
    bottom: 2%;
}

#subir:hover{
    background-color: coral;
}

section ul li{
    list-style: none;
    padding: 5px;
    font-size: 30px;
}

/*Barra laterar*/
aside{
    width: 20%;
    float: left;
    background: sandybrown;
    height: 250px;
}

aside ul li{
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

/*Pie de paginar*/
footer{ 
    background-color: sandybrown;
    height: 50px;

}

footer ul li{
    float:left;
    list-style: none;
    margin: 10px;
    padding: 1px;
    line-height: 20px;
}

.clearfix{
    clear: both;
}

section h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
    height: 100px;
    margin: 0px;
    line-height: 100px;
}


h2{
    margin: 0px;
    padding: 1px;
    text-align: center;
    color: aliceblue;
    width: 100%;
    height: 40px;
    line-height: 30px;
    background-color: black;
}

h3{
    font-size: 25px;
    padding: 10px;
}

h4{
    padding: 10px;
}

p{
    font-size: 22px;
    padding: 10px;
    text-align: justify;

}

.videos{
    width: 600px;
    height: 300px;
}

.audios{
    width: 500px;
    height: 30px;
}



